<!doctype html>
<html>
    <head>
        <meta charset=utf-8>
        <title>Fictional Social Network</title>
    </head>
		<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
		<script type="text/javascript">
			  $.validator.addMethod("anyDate",
			 												function(value, element) \{
			 														return value.match(/^(0?[1-9]|[12][0-9]|3[0-1])[/., -](0?[1-9]|1[0-2])[/., -](19|20)?\d\{2}$/);
			 												},
			 												"Please enter a date as MM.DD.YYYY!"
			 											 );
			  $(document).ready(function() \{
						$("#newUser").prop('checked', false);
						$(".newOnly" ).prop('disabled', true);
						$(".oldOnly" ).prop('disabled', false);
				});
		</script>
    <body>
        <h3>Welcome to FSN, dear {user_hello}</h3>
        <form method=POST action="/signin" id='userForm'>
					  <div id="common">
            <label>
                Login:
                <input name="login">
            </label>
            <label>
                Password:
                <input type="password" name="password">
            </label>
						</div>
					  <div class="newOnly">
							<label>
                Name:
                <input name="name" class="newOnly" disabled>
							</label>
							<label>
								Surname:
                <input name="surname" class="newOnly" disabled>
							</label>
							<label>
								Birthday:
                <input name="birthday" class="newOnly" type="birthday" disabled>
							</label>
							<label>
								Home city:
                <input name="city" class="newOnly" disabled>
							</label>
						</div>
					  <div class="newOnly">
							<label>
								Hobby:
								<textarea rows="10" cols="45" name="hobby" class="newOnly" disabled></textarea>
							</label>
						</div>
					  <div class="newOnly">
							<label>
								New user:
								<input type="checkbox" id="newUser" unchecked/>
							</label>
						</div>
						<button id='submitButton' type=submit class="send">Submit</button>
        </form>
				<div class="oldOnly">
					<form method=POST action="/subscribe" id='subscribeForm'>
						<div>
            <label>
                Subscribe to user (by id):
                <input name="id">
            </label>
						</div>
						<button>Submit</button>
					</form>
					<form method=POST action="/show_subscriptions" id='subscribeShowForm'>
						<button>Show subscriptions</button>
					</form>
					<form method=POST action="/lookup" id='lookupForm'>
						<div>
            <label>
                Lookup Name prefix:
                <input name="name">
            </label>
            <label>
                Surname prefix:
                <input name="surname">
            </label>
						</div>
						<button>Lookup</button>
					</form>
					<div>
						<a href="/perspage">Maintain personal page</a>
					</div>
				</div>
				<script type="text/javascript">
					$("#newUser").change( function() \{
							// alert("state changed");
							if($(this).is(":checked")) \{
									$(".newOnly" ).prop('disabled', false);
									$(".oldOnly" ).prop('disabled', true);
									$("#userForm" ).attr('action', '/signup');
							}
							else
							\{
									$(".newOnly" ).prop('disabled', true);
									$(".oldOnly" ).prop('disabled', false);
									$("#userForm" ).attr('action', '/signin');
							}
					});
			 		$('#userForm').validate(\{
			 				rules : \{
			 						password:  "required",
			 						login:  "required",
									birthday: \{
											anyDate : true
									}
			 				}
			 		})
				</script>
    </body>
</html>
