<!doctype html>
<html>
    <head>
        <meta charset=utf-8>
        <title>Fictional Social Network</title>
    </head>
		<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <body>
        <h3>User's {name} {surname} personal page</h3>
        <form method=POST action="/perspage" id='persPageForm'>
						<div>
            <label>
                Subscribe to user:
                <input name="persage" input={perspage}>
            </label>
						</div>
						<button>Submit</button>
				</form>
		</body>
</html>
